head
  title Informationssysteme SS 2014
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/app.js')
  link(rel="stylesheet", type="text/css", href="css/style.css")

  block extra_header