nav
  .col.onethird
    a InSy.SS.2014.MH
  ul.col.twothird
    li
      a(href="/") Index
    li
      a(href="/wertebereiche.html") Blatt 3
    li
      a(href="/relationenbeispiel.html") Blatt 7.1
    li
      a(href="/relationen_app.html") Relationenalgebra
    li
      a(href="/links.html") Links