extends ./layout.jade

block content
  .row
    .col.half(style="background-color:#FCC") Testfoo
    .col.half(style="background-color:#CCF") Testbar
  hr
  .row
    .col.onethird(style="background-color:#FCC") Testfoo
    .col.onethird(style="background-color:#CFC") Testfoo
    .col.onethird(style="background-color:#CCF") Testfoo
  hr
  .row
    .col.onethird(style="background-color:#FCC") Testfoo
    .col.twothird(style="background-color:#CFC") Testfoo
  hr
  .row
    .col.goldenshort(style="background-color:#CFC") Testfoo
    .col.goldenlong(style="background-color:#FCC") Testfoo