extends ./layout.jade

block content
  article
    section
      h1 Hallo
      p Hier wird es inofizielles Zeug für Informationssysteme geben, das mir im Zuge meiner Übung als sinnvoll erscheint.
      p
        strong Letzte Änderung vom 29.05.:
        | Wertebereich Beispiel.
