extends ./layout.jade

block content
  article
    section
      h1 Hallo
      p Hier wird es inofizielles Zeug für Informationssysteme geben, das mir im Zuge meiner Übung als sinnvoll erscheint.
      p
        strong Letzte Änderung vom 09.07.:
        | Beta für die Relationenalgebra
