extends ./layout.jade

block content
  section
    h1 Linkliste
    p Ihr wollt bestimmt Rumklicken beim Lernen. Dafür hätte ich ein paar Anregungen, wo man einsteigen kann:
    .block.row
      ul
        li
          a(href="http://sqlfiddle.com/#!12/ce368") SQL Fiddle
          | Webservice, der SQL-Befehle auf verschiedenen Datenbanken ausführt und auch erklärt. Super für den Austausch mit anderen, oder zur schnellen Illustration.
        li
          a(href="http://www.w3schools.com/dtd/default.asp") W3 Schools Tutorial
        li
          a(href="http://stackoverflow.com/questions/tagged/sql") Stackoverflow
          | Frage-und-Antwort-Seite, auf der sich ziemliche Profis aufhalten und erfahrungsgemäß schnell antworten. Falls ihr programmiertechnisch mal Probleme habt (für die Klausur eher weniger wichtig).
        li
          a(href="http://fragestunde.fachschaft.cs.uni-kl.de/") Fragestunde
          | Frage-und-Antwort-Seite extra für Kaiserslauterer Informatikstudenten. Noch wenig los, aber vielleicht könnt ihr da ja mal etwas beisteuern.
        li
          a(href="http://de.wikipedia.org/wiki/SQL") Wikipedia(SQL)
          | zur Sprache und deren Semantik. Aber auch ein schöner Startpunkt zum Surfen (Wie viele Links innerhalb von Wikipedia-Artikeln müsst ihr klicken, um von "SQL" zu "Theo Härder" zu kommen?)