extends ./layout.jade

block content
  article
    section
      h1 Relationenalgebra
      p 
        strong Betabetrieb -- gimme Feedback plox!
      p Auf dieser Seite kannst du Anfragen in Relationenalgebra untersuchen.
        | Da das Eingeben von Operatoren der Relationenalgebra ein wenig umständlich ist,
        | wird hier eine leicht andere Form der Anfrage verwendet. Diese ist 
        a(href="/relationen_anleitung.html") hier 
        | dokumentiert.
      
      h2 Relationen
      include example_relations/all
    hr
    section
      h2 Spielwiese
      p In dieses Feld kannst du die Anfragen wie oben beschrieben eingeben. Ein Klick auf GO rechnet die Anfrage aus.
      input(type="text", id="input")
      button(id="computeitlikeabauss") GO
      h3 Beispiele
      ul#examples
        li \sigma[Seitenzahl < 500](Buch)
        li \sigma[Buch.Seitenzahl < 500](Buch)
        li \sigma[Seitenzahl > 500](Buch)
        li \sigma[Buch.Seitenzahl > 500](Buch)
        li \pi[Titel, Verlag](Buch)
      p#error_output
      div#result_output
        h3 Ergebnis
