.row.relation_digest
    include buch
  .col.half
    include leser
  .col.half
    include verlag
  .col.half
    include exemplar
  .col.half
    include ausleihe
//-.relation_digest
  .col.half
    include pers
  .col.half
    include abt
  hr
  .row
    include buch
  .col.half
    include leser
  .col.half
    include verlag
  .col.half
    include exemplar
  .col.half
    include ausleihe
  hr
  .col.half
    include kunde
  .col.half
    include herst
  .col.half
    include prod
  .col.half
    include pv
  .col.half
    include kkp
  hr
  .col.half
    include verein
  .col.half
    include spieler
  .col.half
    include trainer
  hr
  .col.half
    include professor
  .col.half
    include student
  .col.half
    include fachbereich
  .col.half
    include pruefung
