table.relation.expendable.expendable
  caption Ausleihe
  thead
    tr
      th LSNR
      th ISBN
      th EXPNR
      th Rueckgabedatum
  tbody
    tr
      th a
      th a
      th a
      th 2013-02-10