table.relation
  caption Buch
  thead
    tr
      th ISBN
      th Titel
      th Seitenzahl
      th Verlag
      th Erscheinungsjahr
      th Anzahl_Exemplare
  tr
    td 3-8274-0175-5
    td Petri-Netze - Grundlagen und Anwendungen
    td 371
    td Spektrum
    td 1996
    td 2
  tr
    td 978-3-86894-012-1
    td Grundlagen von Datenbanksystemen
    td 550
    td Pearson Studium
    td 2009
    td 5
  tr
    td 978-3-486-72139-3
    td Datenbanksysteme - Eine Einführung
    td 847
    td Oldenbourg
    td 2013
    td 1
  tr
    td 978-0-07-352332-3
    td Database System Concepts
    td 1349
    td McGraw-Hill
    td 2011
    td 7
  tr
    td 3-8274-1488-1
    td Datenbanken-Grundlagen und XML-Technologien
    td 281
    td Elsevier
    td 2005
    td 2
  tr
    td 3-486-27210-1
    td Datenbanken im Unternehmen
    td 634
    td Oldenbourg
    td 2003
    td 5