table.relation.expendable
  caption Exemplar
  thead
    tr
      th ISBN
      th EXPNR
      th Inventarnr
      th Standort
  tbody
    tr
      td 3-8274-0175-5
      td 106790683
      td INF 287/100
      td Geb 36
    tr
      td 3-8274-0175-5
      td 106051838
      td INF 287/100
      td Geb 36
    tr
      td 978-3-86894-012-1
      td 109074010
      td INF 530/431
      td Geb 36
    tr
      td 978-3-86894-012-1
      td 109074106
      td INF 530/431
      td Geb 36
    tr
      td 978-3-86894-012-1
      td 109074081
      td INF 530/431
      td Geb 36
    tr
      td 978-3-86894-012-1
      td 109085948
      td INF 530/431
      td Geb 36
    tr
      td 978-3-86894-012-1
      td 109085948
      td INF 530/431
      td Geb 36
    tr
      td 978-3-486-72139-3
      td 109814146
      td INF 530/353
      td Geb 36
    tr
      td 978-0-07-352332-3
      td 109278762
      td L INF 144
      td Geb 32
    tr
      td 978-0-07-352332-3
      td 109278647
      td L INF 144
      td Geb 32
    tr
      td 978-0-07-352332-3
      td 109278605
      td L INF 144
      td Geb 32
    tr
      td 978-0-07-352332-3
      td 109278720
      td L INF 144
      td Geb 32
    tr
      td 978-0-07-352332-3
      td 109278689
      td L INF 144
      td Geb 32
    tr
      td 978-0-07-352332-3
      td 109258223
      td INF 530/179
      td Geb 36
    tr
      td 978-0-07-352332-3
      td 109258322
      td INF 530/179
      td Geb 36
    tr
      td 3-8274-1488-1
      td 108149355
      td INF 530/461
      td Geb 36
    tr
      td 3-8274-1488-1
      td 108149368
      td INF 530/461
      td Geb 36
    tr
      td 3-486-27210-1
      td 107901251
      td INF 530/450
      td Geb 36
    tr
      td 3-486-27210-1
      td 107901264
      td INF 530/450
      td Geb 36
    tr
      td 3-486-27210-1
      td 109268480
      td INF 530/450
      td Geb 36
    tr
      td 3-486-27210-1
      td 109268352
      td INF 530/450
      td Geb 36
    tr
      td 3-486-27210-1
      td 105215970
      td WIR 087/079
      td Geb 42