table.relation.expendable
  caption Leser
  thead
    tr
      th LSNR
      th Name
      th Vorname
      th Wohnort
  tbody
    tr
      td 6427
      td Elmasri
      td Ramez
      td Heidelberg
    tr
      td 6428
      td Codd
      td Edgar
      td New York City
    tr
      td 6429
      td Kemper
      td Alfons
      td München
    tr
      td 6430
      td Schmöker
      td Lemmi
      td Heidelberg
    tr
      td 6432
      td Pernul
      td Günther
      td New York City
    tr
      td 6433
      td Schmöker
      td Harald
      td Amsterdam
    tr
      td 6434
      td Alonso
      td Gustavo
      td Amsterdam
    tr
      td 6439
      td Fritzen
      td Hans-Peter
      td Enkenbach
    tr
      td 6440
      td Casati
      td Fabio
      td Amsterdam
    tr
      td 6441
      td Baumgarten
      td Lemmi
      td München