table.relation
  caption Verlag
  thead
    tr
      th Verlag
      th Verlagsort
  tr
    td Spektrum
    td Heidelberg
  tr
    td Pearson Studium
    td London
  tr
    td Oldenbourg
    td München
  tr
    td McGraw-Hill
    td New York City
  tr
    td Elsevier
    td Amsterdam